/* CSS  */
#fondo{
} /*Fondo de toda pantalla*/


#titulo_main{ background:#ffffff; font-size:24px;} /* Fondo de ls títulos*/

#navi {  
	list-style:none;
	margin:0;
	padding:0;
}
#navi li {
	margin:2px;
	padding:2px;
	border:1px solid #CCCCCC;
	float:left; //para eliminar el comportamiento de elemento de bloque(salto de linea)
}
#selected {background-color:#996600;}	
thead{ background-color:#B8B8B6; color:#111111; border:1px;
